.brand {
  background: $color-bg;
}

.brand__swiper {
  padding: 16px;
  padding-bottom: 32px;
}

.swiper-slide.brand__element {
  width: 240px;
  height: 72px;
}

.brand__element {
  @include flex-between;
  padding: 16px;
  background: $color-white;
  border: 1px solid $color-divider;
  border-radius: $radius-sm;
  gap: 16px;
}

.brand__icon {
  border: 2px solid $color-primary;
  border-radius: $radius-round;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include hover-general;
}

.swiper {
  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: $color-divider;
  }

  .swiper-pagination-bullet-active {
    background: $color-text-secondary;
  }
}

.brand__more {
  display: none;
  align-items: center;
  gap: 8px;
  margin-left: 24px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 16px;

  @include hover-opacity;

  &--active img {
    transform: rotate(180deg);
  }
}

@include tablet {
  .brand__swiper {
    padding: 16px 24px;
  }

  .swiper-pagination {
    display: none;
  }

  .brand__grid {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .brand__element {
    width: auto !important;
  }

  .brand__grid .brand__element:nth-child(n + 7) {
    display: none;
  }

  .brand__grid.is-expanded .brand__element {
    display: flex;
  }

  .brand__more {
    display: flex;
  }
}

@include desktop {
  .brand__swiper {
    padding: 16px 32px;
  }
  .brand__grid .brand__element:nth-child(n + 7) {
    display: flex;
  }

  .brand__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .brand__grid .brand__element:nth-child(n + 9) {
    display: none;
  }

  .brand__grid.is-expanded .brand__element {
    display: flex;
  }
}
