.footer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer__text {
  text-align: center;
  color: $color-text-secondary;
  font-size: 14px;
}

@include tablet {
    .footer {
        padding: 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer__text {
        text-align: left;
    }
}

@include desktop {
    .footer {
        padding: 32px;
    }
}