.sidebar {
  background: $color-white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  display: none; /* flex */
  flex-direction: column;

  padding: 24px;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
  &.active {
    display: flex;
  }
}

.sidebar__header {
  @include flex-between;

  margin-bottom: 40px;
}

.sidebar__logo {
  margin-right: auto;
  margin-left: 16px;
}

.sidebar__menu {
  flex: 1;
}

.sidebar__link {
  position: relative;

  display: block;

  margin-bottom: 32px;

  color: $color-text;

  font-size: 16px;
  font-weight: 500;

  transition: 0.2s;

  &:hover {
    color: $color-text-secondary;
  }
}

.sidebar__link--active {
  color: $color-text-secondary;

  &::before {
    content: '';

    position: absolute;

    left: -24px;
    top: 50%;

    width: 4px;
    height: 32px;

    border-radius: 20px;

    background: $color-accent;

    transform: translateY(-50%);
  }
}

.sidebar__footer {
  margin-top: auto;
}

.sidebar__actions {
  display: flex;
  gap: 16px;

  margin-bottom: 16px;
}

.sidebar__email {
  display: block;

  margin-bottom: 12px;

  color: $color-text;

  font-size: 16px;
  font-weight: 500;
}

.sidebar__phone {
  display: block;

  margin-bottom: 40px;

  color: $color-text;

  font-size: 24px;
  font-weight: 700;
}

.sidebar__lang {
  display: flex;
  gap: 8px;
}

.sidebar__lang-btn {
  border: none;
  background: none;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;

  color: $color-text;

  &--active {
    color: $color-text-secondary;
  }
}
.sidebar__overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9;
}

.sidebar__overlay--active {
  display: block;
}
@include tablet {
  .sidebar {
    width: 320px;
  }
}
